.same{
    padding-top:20px;
}
.slider_img {
    background-image: url('../img/bg_image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 400px !important;
    /*margin: 100px;*/
}
.rowclass{
    height: 100vh;
    width:100vw;
}

.rowcontent{
    align-items: center;
    margin: 20px;
}

.h2class{
    display: block;
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
    padding-top: 10px;
    margin-top: 30px;
    color: white;
}

.h1class{
  display: block;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  font-family: "Roboto Mono", monospace;
}

.button1 {
  background-color: #F0FF47;
  color: black;
  padding: 10px 24px;
  transition-duration: 0.4s;
}

.button2{
    background-color: #67737E;

    transition-duration: 0.4s;
}
.button2:hover{
    border: 2px solid white;
}

.button1:hover {
  background-color: #67737E;
  color: white;
}

.bg-color{
  background-color: #37383F;
}

.box-icon-classic {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.text-primary {
    color: #1d81de !important;
}

.icon-xl {
    font-size: 70px;
    line-height: 79px;
}

hr.new1 {
  border-top: 1px solid #ffffff;
  width: 100px;
}

.center{
  text-align: center;
}

.content{
  color: #ffffff;
  text-align: center;
  max-width: 800px;
  display: inline-block;
}



.card_image{
  width: 100%;
  height: 20px;
}
